@import url(http://fonts.googleapis.com/css?family=Gentium+Basic);
.tab {
  display: none;
}

.sp {
  display: none;
}

@media screen and (max-width: 1100px) {
  .tab {
    display: block;
  }
  .pc {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .tab {
    display: none;
  }
  .pc {
    display: none;
  }
  .pc_tab {
    display: none;
  }
  .sp {
    display: block;
  }
}

body {
  line-height: 1.75;
  font-size: 16px;
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a, a:link, a:active, a:visited {
  text-decoration: underline;
  outline: none;
}

a:hover, a:active {
  outline: 0;
}

a {
  color: #21759b;
}

a:visited {
  color: #21759b;
}

a:focus {
  color: #21759b;
}

a:hover {
  color: #0f3647;
}

a:active {
  color: #21759b;
}

.fa {
  padding-right: .5em;
}

.dnon {
  display: none;
}

/* -- global_reset --*/
ul {
  list-style: none;
}

ul li {
  list-style: none;
}

/*Google font api*/
/*-----------------------------------------------
 __layout
-----------------------------------------------*/
.l_row {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.l_row.pd_side {
  padding-right: 5%;
  padding-left: 5%;
}

/*-----------------------------------------------
 __fontsize
-----------------------------------------------*/
.fz_ExLrg {
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .fz_ExLrg {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .fz_ExLrg {
    font-size: 24px;
  }
}

.fz_Lrg {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .fz_Lrg {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .fz_Lrg {
    font-size: 20px;
  }
}

.fz_MidLrg {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .fz_MidLrg {
    font-size: 20px;
  }
}

@media screen and (max-width: 660px) {
  .fz_MidLrg {
    font-size: 16px;
  }
}

.fz_Mid {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .fz_Mid {
    font-size: 18px;
  }
}

@media screen and (max-width: 660px) {
  .fz_Mid {
    font-size: 15px;
  }
}

.fz_Reg {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .fz_Reg {
    font-size: 14px;
  }
}

.fz_SmMid {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .fz_SmMid {
    font-size: 13px;
  }
}

.fz_Sm {
  font-size: 13px;
}

@media screen and (max-width: 660px) {
  .fz_Sm {
    font-size: 12px;
  }
}

.fz_ExSm {
  font-size: 12px;
}

@media screen and (max-width: 660px) {
  .fz_ExSm {
    font-size: 10px;
  }
}

.tab {
  display: none;
}

.sp {
  display: none;
}

@media screen and (max-width: 1100px) {
  .tab {
    display: block;
  }
  .pc {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .tab {
    display: none;
  }
  .pc {
    display: none;
  }
  .pc_tab {
    display: none;
  }
  .sp {
    display: block;
  }
}

/*-----------------------------------------------
 __header
-----------------------------------------------*/
.md_header__wrap {
  display: table;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.md_header__logo {
  display: table-cell;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 15%;
  vertical-align: middle;
  background: #ccc;
}

.md_header__logo img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100px;
}

.md_header__nav {
  display: table-cell;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 85%;
  vertical-align: middle;
  font-family: 'Gentium Basic', serif;
}

.md_menu {
  position: relative;
  width: 100%;
  height: 50px;
  max-width: 1000px;
  margin: 0 auto;
  *zoom: 1;
}

.md_menu > li {
  float: left;
  width: 10%;
  height: 50px;
  line-height: 50px;
  background: #1d2113;
  white-space: nowrap;
}

.md_menu > li.menu__single {
  position: relative;
}

.md_menu > li.menu__single:hover ul.menu__second__level {
  top: 50px;
  visibility: visible;
  opacity: 1;
}

.md_menu > li a {
  display: block;
  color: #fff;
}

.md_menu > li a:hover {
  color: #999;
}

.md_menu > li:hover {
  background: #072A24;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.md_menu ul.menu__second__level {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 40px;
  width: 100%;
  background: #072A24;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.md_menu ul.menu__second__level li {
  border-top: 1px solid #111;
}

.md_menu ul.menu__second__level li a:hover {
  background: #111;
}

.md_menu:before {
  content: " ";
  display: table;
}

.md_menu:after {
  content: " ";
  display: table;
  clear: both;
}

.md_menu .init_bottom:after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0 0 15px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header_nav {
  height: 80px;
  background-color: #000;
  background: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  padding: 0 5%;
  position: relative;
}

.header_nav.single {
  background-color: #000;
  max-width: 1400px;
}

.header_nav.common {
  background-color: #000;
}

@media screen and (max-width: 1180px) {
  .header_nav {
    padding: 0 3%;
  }
}

@media screen and (max-width: 979px) {
  .header_nav {
    padding-right: 80px;
  }
}

@media screen and (max-width: 767px) {
  .header_nav {
    height: 60px;
    padding-right: 60px;
  }
}

.header_nav__inner {
  margin: 0 auto;
}

.header_navLogo {
  float: left;
  height: 80px;
  width: 320px;
  display: table;
}

@media screen and (max-width: 767px) {
  .header_navLogo {
    height: 60px;
    width: 240px;
  }
}

@media screen and (max-width: 479px) {
  .header_navLogo {
    width: 100px;
  }
}

.header_navLogo__link {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 479px) {
  .header_navLogo__link {
    background: url(../images/header_logo2.png) center left no-repeat;
    -webkit-background-size: 90px 90px;
            background-size: 90px;
  }
}

.header_navLogo__img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 479px) {
  .header_navLogo__img {
    display: none;
  }
}

.header_navMenu {
  float: right;
  font-size: 13px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header_navMenu__listWrap {
  text-align: right;
}

.header_navMenu__list {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1079px) {
  .header_navMenu__list {
    display: none;
  }
}

a.header_navMenu__link {
  text-decoration: none;
  color: #fff;
  padding: 0 1em;
  line-height: 80px;
  display: block;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media screen and (max-width: 767px) {
  a.header_navMenu__link {
    line-height: 60px;
  }
}

a.header_navMenu__link:hover {
  background: #000;
}

.md_glnavi__Menubtn {
  width: 260px;
  height: 80px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  display: none;
}

@media screen and (max-width: 1079px) {
  .md_glnavi__Menubtn {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .md_glnavi__Menubtn {
    height: 60px;
  }
}

a.md_glnavi__Contact {
  display: none;
  height: 80px;
  line-height: 80px;
  float: right;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 0 1em;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media screen and (max-width: 1079px) {
  a.md_glnavi__Contact {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  a.md_glnavi__Contact {
    height: 60px;
    line-height: 60px;
  }
}

a.md_glnavi__Contact:hover {
  background: #000;
}

.md_glnavi__Menutrigger {
  position: relative;
  width: 80px;
  height: 80px;
  display: block;
  float: right;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .md_glnavi__Menutrigger {
    width: 60px;
    height: 60px;
  }
}

.md_glnavi__Menutrigger span.line {
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 50%;
  width: 30px;
  margin-left: -15px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}

.md_glnavi__Menutrigger span.line:nth-of-type(1) {
  top: 50%;
  margin-top: -13px;
}

.md_glnavi__Menutrigger span.line:nth-of-type(2) {
  top: 50%;
  margin-top: -1px;
}

.md_glnavi__Menutrigger span.line:nth-of-type(3) {
  top: 50%;
  margin-top: 12px;
}

.md_glnavi__Menutrigger.open span.line:nth-of-type(1) {
  -webkit-transform: translateY(8px) rotate(-315deg);
      -ms-transform: translateY(8px) rotate(-315deg);
          transform: translateY(8px) rotate(-315deg);
}

.md_glnavi__Menutrigger.open span.line:nth-of-type(2) {
  opacity: 0;
}

.md_glnavi__Menutrigger.open span.line:nth-of-type(3) {
  -webkit-transform: translateY(-11px) rotate(315deg);
      -ms-transform: translateY(-11px) rotate(315deg);
          transform: translateY(-11px) rotate(315deg);
}

.md_popup__menu {
  display: none;
}

a.md_modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.md_popup__cont {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  padding: 5%;
  display: table;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: table;
  width: 100%;
}

.md_popup__cont .innr {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  display: table-cell;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  vertical-align: middle;
  position: relative;
}

.md_popup__list {
  text-align: center;
}

.md_popup__list li {
  font-size: 16px;
}

.md_popup__list li a {
  text-decoration: none;
  color: #eee;
  padding: 1em;
  display: block;
}

#contact_box {
  text-align: center;
  color: #fff;
}

#contact_box .box .tel {
  font-size: 27px;
  margin: 1% 0 2% 0;
}

#contact_box .box .tel_btn .btn {
  display: inline-block;
  padding: 1.1em 4em;
  border: solid 1px #fff;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

#contact_box .box .time_box {
  margin: 8% 0 0 0;
  font-size: 13px;
  line-height: 1.7;
}

/*# sourceMappingURL=maps/common.css.map */
