@charset "UTF-8";
/*-----------------------------------------------
 __fontweight
-----------------------------------------------*/
.fw700 {
  font-weight: 700;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 300;
}

/*-----------------------------------------------
 __letterspacing centering
-----------------------------------------------*/
.lt0 {
  letter-spacing: 0;
  text-indent: 0;
}

.lt1 {
  letter-spacing: .1em;
  text-indent: .1em;
}

.lt2 {
  letter-spacing: .2em;
  text-indent: .2em;
}

.lt3 {
  letter-spacing: .3em;
  text-indent: .3em;
}

.lt4 {
  letter-spacing: .4em;
  text-indent: .4em;
}

.lt5 {
  letter-spacing: .5em;
  text-indent: .5em;
}

/*-----------------------------------------------
 __fontsize
-----------------------------------------------*/
.fz_42 {
  font-size: 42px;
}

@media screen and (max-width: 767px) {
  .fz_42 {
    font-size: 34px;
  }
}

@media screen and (max-width: 600px) {
  .fz_42 {
    font-size: 24px;
  }
}

.fz_36 {
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .fz_36 {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  .fz_36 {
    font-size: 22px;
  }
}

.fz_30 {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .fz_30 {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .fz_30 {
    font-size: 20px;
  }
}

.fz_28 {
  font-size: 27px;
}

@media screen and (max-width: 767px) {
  .fz_28 {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  .fz_28 {
    font-size: 19px;
  }
}

.fz_24 {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .fz_24 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .fz_24 {
    font-size: 16px;
  }
}

.fz_22 {
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .fz_22 {
    font-size: 19px;
  }
}

@media screen and (max-width: 600px) {
  .fz_22 {
    font-size: 15px;
  }
}

.fz_20 {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .fz_20 {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .fz_20 {
    font-size: 16px;
  }
}

.fz_18 {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .fz_18 {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .fz_18 {
    font-size: 14px;
  }
}

.fz_16 {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .fz_16 {
    font-size: 14px;
  }
}

.fz_15 {
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .fz_15 {
    font-size: 14px;
  }
}

.fz_14 {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .fz_14 {
    font-size: 13px;
  }
}

.fz_13 {
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .fz_13 {
    font-size: 12px;
  }
}

.fz_12 {
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .fz_12 {
    font-size: 10px;
  }
}

/*-----------------------------------------------
 __setting
-----------------------------------------------*/
/*-----------------------------------------------
 __font default
-----------------------------------------------*/
body {
  line-height: 1.75;
  font-size: 16px;
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: normal;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Roboto, Meiryo, sans-serif;
  text-rendering: optimizeLegibility;
  color: #4D4A49;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  letter-spacing: .1em;
}

a, a:link, a:active, a:visited {
  text-decoration: underline;
  outline: none;
}

a:hover, a:active {
  outline: 0;
}

a, a:visited, a:focus, a:active {
  color: #21759b;
}

a:hover {
  color: #21759b;
}

/*-----------------------------------------------
 __fontfamily
-----------------------------------------------*/
.serif {
  font-family: 'Times New Roman', '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', '小塚明朝 ProN', 'メイリオ', Meiryo, 'Sawarabi Mincho', serif;
}

/*-----------------------------------------------
 __fontweight
-----------------------------------------------*/
/*-----------------------------------------------
 __letterspacing centering
-----------------------------------------------*/
/*-----------------------------------------------
 __fontsize
-----------------------------------------------*/
@-webkit-keyframes scroll_angle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scroll_angle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scroll_line {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: center top;
            transform-origin: center top;
  }
  30% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: center top;
            transform-origin: center top;
  }
  60% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
}

@keyframes scroll_line {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: center top;
            transform-origin: center top;
  }
  30% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: center top;
            transform-origin: center top;
  }
  60% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
}

/*-----------------------------------------------
__common
-----------------------------------------------*/
.wrap {
  position: relative;
}

.wrap:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-image: url(../images/border.svg);
  background-size: auto 10px;
  z-index: 99;
}

/*-----------------------------------------------
__layout
-----------------------------------------------*/
.l_row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.l_row.posr {
  position: relative;
}

.l_row.pd_side {
  padding-right: 5%;
  padding-left: 5%;
}

.l_innerWidth {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

/*-----------------------------------------------
__header
-----------------------------------------------*/
.md_head {
  height: 100vh;
  height: calc(100vh - 80px);
  background-image: url(../images/hero_image.jpg);
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: auto 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15vh;
}

@media screen and (max-width: 600px) {
  .md_head {
    height: 100vh;
  }
}

.md_page__copy {
  margin-bottom: 2em;
}

@media screen and (max-width: 480px) {
  .md_page__copy {
    font-size: 14px;
  }
}

.md_page__logo {
  margin-bottom: 10vh;
}

.md_page__logo img {
  height: auto;
  display: block;
  width: 450px;
  margin: 0 auto;
}

@media screen and (max-width: 979px) {
  .md_page__logo img {
    width: 360px;
  }
}

@media screen and (max-width: 600px) {
  .md_page__logo img {
    width: 70%;
  }
}

.md_head__contact a {
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  line-height: 1;
  padding: 1.25em 2.5em;
  color: #eee;
  background: #324B79;
  border-radius: 10px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.md_head__contact a:hover {
  background: #39568b;
}

@media screen and (max-width: 600px) {
  .md_head__contact a {
    font-size: 12px;
  }
}

.md_main {
  position: relative;
}

.md_header__wrap {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../images/surimacca_haikei.gif);
  background-color: #fff;
  background-repeat: repeat;
  background-position: center center;
  z-index: 999;
}

.md_header__wrap.fixed {
  position: fixed;
}

.md_header__wrap .innr {
  max-width: 1600px;
  padding: 0 3%;
  margin: 0 auto;
}

.md_gnav__trigger {
  background: #6a523f;
  width: 56px;
  height: 56px;
  position: absolute;
  top: 45px;
  right: 15px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 4px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .md_gnav__trigger {
    right: 10px;
  }
}

.md_gnav__trigger .line {
  margin: 6px auto;
  display: block;
  width: 60%;
  height: 3px;
  background: #eee;
  border-radius: 3px;
}

.md_gnav__trigger .txt {
  display: block;
  font-size: 11px;
  color: #eee;
  line-height: 1;
}

.md_header__gnav {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (max-width: 480px) {
  .md_header__gnav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 56px;
  }
}

.fixed .md_header__gnav {
  height: 60px;
}

@media screen and (max-width: 480px) {
  .fixed .md_header__gnav {
    height: 56px;
  }
}

.md_header__logo {
  margin-right: 5%;
}

@media screen and (max-width: 979px) {
  .md_header__logo {
    display: none;
  }
}

.md_header__logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.md_header__logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.md_header__nav {
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .md_header__nav {
    margin-right: 0;
    font-size: 13px;
  }
}

.md_header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.md_header__nav ul li {
  padding: 0 10px;
}

@media screen and (max-width: 600px) {
  .md_header__nav ul li.secondary {
    display: none;
  }
}

.md_header__nav ul li a {
  text-decoration: none;
  color: #4D4A49;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 0 5px;
}

.md_header__nav ul li a:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: 2px dotted transparent;
  height: 2px;
  width: 100%;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.md_header__nav ul li a:hover:after {
  border-bottom-color: #4D4A49;
}

.md_header__navBtn {
  -ms-flex-item-align: center;
      align-self: center;
}

.md_header__navBtn a {
  border: 2px solid #000;
  padding: 12px 15px;
  color: #000;
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 5px;
  line-height: 1;
}

@media screen and (max-width: 480px) {
  .md_header__navBtn a {
    padding: 0 5px;
    border: none;
    position: relative;
    line-height: inherit;
    margin: 0 10px;
    font-size: 13px;
  }
  .md_header__navBtn a:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    border-bottom: 2px dotted transparent;
    height: 2px;
    width: 100%;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
  }
  .md_header__navBtn a:hover:after {
    border-bottom-color: #4D4A49;
  }
}

@media screen and (max-width: 1200px) {
  .md_header__navBtn a span {
    display: none;
  }
}

/*-----------------------------------------------
__footer
-----------------------------------------------*/
.md_footer {
  background: #eee;
  padding: 80px 0;
  color: #4D4A49;
}

@media screen and (max-width: 767px) {
  .md_footer {
    padding: 60px 0 20px 0;
  }
}

.md_foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .md_foot {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .md_foot .l_column {
    text-align: center;
  }
}

.md_foot .l_column .logo {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .md_foot .l_column .logo {
    margin-left: 0;
    margin-top: 40px;
  }
}

.md_foot .l_column .logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 767px) {
  .md_foot .l_column .logo img {
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .md_foot .l_column .logo img {
    width: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .md_foot .l_column .logo {
    display: block;
  }
  .md_foot .l_column .logo:first-child {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .md_foot .l_column .logo {
    display: inline-block;
  }
  .md_foot .l_column .logo:first-child {
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 10px;
  }
}

.md_foot__logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 767px) {
  .md_foot__logo img {
    width: 60%;
    max-width: 300px;
    margin: 0 auto;
  }
}

.md_foot__nav {
  padding: 40px 0;
}

@media screen and (max-width: 767px) {
  .md_foot__nav {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: left;
  }
}

.md_foot__nav li {
  padding: .3em 0;
}

.md_foot__nav li.nest {
  color: #999;
}

.md_foot__nav li.nest a {
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  color: #999;
}

.md_foot__nav li.nest a:hover {
  color: #4D4A49;
}

.md_foot__nav li.nest:before {
  content: '-';
  padding-right: 5px;
}

.md_foot__nav a {
  text-decoration: none;
  color: #4D4A49;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.md_foot__nav a:hover:after {
  border-bottom-color: #4D4A49;
}

.md_foot__nav a:after {
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 2px;
  border-bottom: 2px dotted transparent;
  width: 100%;
}

.md_foot__address p {
  margin-bottom: .25em;
}

.md_foot__address p br {
  display: none;
}

@media screen and (max-width: 767px) {
  .md_foot__address p br {
    display: block;
  }
}

.md_foot__address p:last-child {
  margin-bottom: 0;
}

.md_foot__address p span {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 1em;
}

.md_foot__address a {
  text-decoration: none;
  color: #4D4A49;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.md_foot__address a:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 2px;
  border-bottom: 2px dotted #4D4A49;
  width: 100%;
}

.md_foot__copyright {
  margin-top: 10px;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .md_foot__copyright {
    text-align: center;
  }
}

/*-----------------------------------------------
__page
-----------------------------------------------*/
.md_section {
  padding: 80px 0;
}

@media screen and (max-width: 600px) {
  .md_section {
    padding: 60px 0;
  }
}

.md_section.introduction {
  padding-top: 200px;
}

@media screen and (max-width: 767px) {
  .md_section.introduction {
    padding-top: 140px;
  }
}

.md_section.workshop {
  background: #F8F8EA;
}

.md_section.access {
  background: #F8F8EA;
  padding-bottom: 0;
}

.md_section.workspace {
  background: #F8F8EA;
}

.md_section__ttl {
  text-align: center;
  position: relative;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.md_section__ttl:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url(../images/border.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 5em;
  width: 5em;
  height: 5px;
}

.md_section__ttl.intro {
  color: #324B79;
}

.md_section__summary {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .md_section__summary {
    text-align: left;
    text-align: justify;
    padding-right: 8%;
    padding-left: 8%;
  }
  .md_section__summary br {
    display: none;
  }
}

.md_section__summary p {
  margin-bottom: 1em;
}

.md_section__summary p:last-child {
  margin-bottom: 0;
}

.md_section__summary.intro {
  color: #324B79;
}

.md_attention {
  padding: 0 5%;
}

.md_attention.workshop {
  max-width: 860px;
  padding: 0;
}

.md_attention .innr {
  background: #eee;
  padding: 40px 5%;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .md_attention .innr {
    padding: 5%;
  }
}

.md_attention ul {
  color: #324B79;
  max-width: 860px;
  margin: 0 auto;
}

.md_attention li {
  line-height: 1.5;
  padding: .2em 0;
  text-indent: -1em;
  padding-left: 1em;
}

@media screen and (max-width: 600px) {
  .md_attention li {
    font-size: 11px;
    text-align: justify;
  }
}

.section_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 100px;
}

@media screen and (max-width: 600px) {
  .section_menu {
    padding-top: 60px;
  }
}

.section_menu.block {
  display: block;
  padding-top: 60px;
}

.section_menu > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  position: relative;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .section_menu > li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }
}

@media screen and (max-width: 600px) {
  .section_menu > li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 84%;
            flex: 0 1 84%;
    margin: 0 auto;
  }
}

.section_menu > li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/border.svg);
  background-repeat: repeat-x;
  background-position: center center;
  background-size: auto 10px;
  width: 100%;
  height: 5px;
}

.section_menu > li:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

@media screen and (max-width: 600px) {
  .section_menu > li:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 84%;
            flex: 0 1 84%;
    margin: 0 auto;
  }
}

.section_menu__ttl {
  color: #324B79;
  text-align: center;
  margin-bottom: 1em;
}

.section_menu__ttl .smp {
  display: none;
}

@media screen and (max-width: 480px) {
  .section_menu__ttl .smp {
    display: block;
  }
}

.section_menu__summary {
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 480px) {
  .section_menu__summary {
    margin-bottom: 20px;
  }
}

.section_menu__link {
  text-align: center;
  margin-top: auto;
  margin-bottom: 40px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .section_menu__link {
    margin-bottom: 0;
  }
}

.section_menu__link.mt {
  margin-top: 40px;
}

.section_menu__link a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  background: #324B79;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  padding: 1em 0;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .section_menu__link a {
    width: 85%;
    font-size: 13px;
    max-width: 240px;
  }
}

.section_menu__link a:hover {
  background: #39568b;
}

.section_menu__facebook {
  border-radius: 20px;
  padding: 60px 20px;
  max-width: 860px;
  margin: 0 auto;
  background-image: url(../images/surimacca_haikei.gif);
  background-repeat: repeat;
}

@media screen and (max-width: 600px) {
  .section_menu__facebook {
    padding: 8% 5%;
  }
}

.to_facebook {
  text-align: center;
}

.to_facebook a {
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  line-height: 1;
  padding: .75em 3em;
  color: #324B79;
  border: 2px solid #324B79;
  border-radius: 10px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

@media screen and (max-width: 767px) {
  .to_facebook a {
    width: 85%;
    font-size: 13px;
    max-width: 240px;
  }
}

.to_facebook a:hover {
  background: #324B79;
  color: #fff;
}

.workshop_img {
  padding: 20px 0;
}

.workshop_img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.workshop_price {
  color: #324B79;
}

.workshop_read {
  color: #324B79;
}

.workspace_price__wrap {
  background: #fff;
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  color: #324B79;
  padding: 30px 5%;
  margin-bottom: 40px;
}

.workspace_price__day {
  margin-bottom: .5em;
}

.workspace_price {
  font-size: 28px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .workspace_price {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .workspace_price {
    line-height: 1.2;
    font-size: 16px;
  }
}

.workspace_price span.plus {
  padding: 0 .5em;
  font-size: .5em;
}

@media screen and (max-width: 600px) {
  .workspace_price span.plus {
    padding: 0 1.5em;
  }
}

.workspace_price span br {
  display: none;
}

@media screen and (max-width: 600px) {
  .workspace_price span br {
    display: block;
  }
}

.workspace_special {
  background: #fff;
  color: #324B79;
  margin: 0 auto;
  max-width: 700px;
  border: 3px solid #324B79;
  border-radius: 20px 0 0 20px;
  text-align: center;
  position: relative;
  height: 106px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 979px) {
  .workspace_special {
    margin-left: 53px;
  }
}

@media screen and (max-width: 767px) {
  .workspace_special {
    display: block;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    border-radius: 0 15px 0 15px;
  }
}

.workspace_special .ttl {
  font-size: 16px;
  padding-right: 1em;
}

@media screen and (max-width: 767px) {
  .workspace_special .ttl {
    display: block;
    font-size: 13px;
  }
}

.workspace_special .price {
  font-size: 28px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .workspace_special .price {
    font-size: 20px;
  }
}

.workspace_special .perday {
  padding-left: .75em;
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .workspace_special .perday {
    font-size: 10px;
    padding-left: 0;
  }
}

.workspace_price__ttl {
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 106px;
  height: 106px;
  background: #324B79;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  text-align: center;
  line-height: 1.2;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .workspace_price__ttl {
    width: 80px;
    height: 80px;
    top: 20px;
  }
}

.workspace_price__ttl span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .workspace_price__ttl span {
    font-size: 13px;
  }
}

.workspace_price__ttl em {
  font-style: normal;
  display: block;
  font-size: 10px;
  padding-top: 8px;
}

.workspace_note {
  color: #324B79;
  text-align: center;
  padding: 20px 0;
}

@media screen and (max-width: 480px) {
  .workspace_note {
    font-size: 12px;
    padding: 0;
    padding-top: 5px;
    text-align: right;
  }
}

.make_flame img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.make_price {
  padding: 20px 0;
}

.make_price dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 3px solid #324B79;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 22px;
  color: #324B79;
}

@media screen and (max-width: 600px) {
  .make_price dl {
    font-size: 16px;
  }
}

.make_price dl div {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #324B79;
  font-weight: bold;
}

.make_price dl div:last-of-type {
  border-right: none;
}

.make_price dl div dt {
  padding: 10px 0;
  white-space: nowrap;
  background-image: url(../images/surimacca_haikei.gif);
  background-repeat: repeat;
}

.make_price dl div dd {
  padding: 1em 0;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .make_price dl div dd {
    font-size: 14px;
    letter-spacing: 0;
  }
}

.make_price__mesh {
  text-align: center;
  color: #324B79;
}

.make_note {
  margin-top: 1em;
  margin-bottom: 40px;
  color: #324B79;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .make_note {
    font-size: 13px;
    text-align: left;
    padding: 0 5%;
    margin-bottom: 0px;
  }
}

.reserve_link {
  padding: 30px 0 10px 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .reserve_link {
    margin-bottom: 20px;
  }
}

.contact_link {
  padding: 40px 0 0 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .contact_link {
    padding-top: 20px;
  }
}

.to_googlemap {
  padding: 40px 0 80px 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .to_googlemap {
    padding: 20px 0 60px 0;
  }
}

.to_googlemap a {
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  line-height: 1;
  padding: .75em 3em;
  color: #324B79;
  border: 2px solid #324B79;
  border-radius: 10px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.to_googlemap a:hover {
  background: #324B79;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .to_googlemap a {
    width: 85%;
    font-size: 13px;
    max-width: 240px;
  }
}

.google_map {
  height: 30vh;
}

@media screen and (max-width: 480px) {
  .google_map {
    height: 50vh;
  }
}

.md_hero {
  height: 60vh;
  max-height: 660px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
}

@media screen and (max-width: 1280px) {
  .md_hero {
    max-height: inherit;
    height: 50vh;
  }
}

.md_hero.vision {
  background-image: url(../images/md_hero__vision.jpg);
}

.md_hero.process {
  background-image: url(../images/md_hero__process.jpg);
}

.md_chapter__ttl {
  text-align: center;
  position: relative;
  padding-top: 100px;
  white-space: nowrap;
}

@media screen and (max-width: 979px) {
  .md_chapter__ttl {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media screen and (max-width: 767px) {
  .md_chapter__ttl {
    padding-top: 80px;
  }
}

@media screen and (max-width: 600px) {
  .md_chapter__ttl {
    padding-top: 60px;
  }
}

.md_chapter__ttl:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  background-size: cover;
  width: 300px;
  height: 80px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .md_chapter__ttl:before {
    width: 200px;
    height: 60px;
  }
}

@media screen and (max-width: 600px) {
  .md_chapter__ttl:before {
    width: 160px;
    height: 40px;
  }
}

.md_chapter__ttl.slogan:before {
  background: url(../images/pg_vision_01.svg) bottom center no-repeat;
}

.md_chapter__ttl.commit:before {
  background: url(../images/pg_vision_02.svg) bottom center no-repeat;
}

.md_chapter__ttl.issue:before {
  background: url(../images/pg_vision_03.svg) bottom center no-repeat;
}

.md_chapter__ttl.possibility:before {
  background: url(../images/pg_vision_03.svg) bottom center no-repeat;
}

.md_chapter__ttl.seimai:before {
  background: url(../images/pg_process_02.svg) bottom center no-repeat;
}

.md_chapter__ttl.blend:before {
  background: url(../images/pg_process_03.svg) bottom center no-repeat;
}

.md_chapter__ttl.area:before {
  background: url(../images/pg_process_04.svg) bottom center no-repeat;
}

.md_chapter__ttl span {
  font-size: 40px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 1em;
  letter-spacing: .25em;
  text-indent: .25em;
}

.md_chapter__ttl span.lt_sm {
  letter-spacing: .2em;
  text-indent: .2em;
}

@media screen and (max-width: 660px) {
  .md_chapter__ttl span.lt_sm {
    letter-spacing: .15em;
    text-indent: .15em;
  }
}

@media screen and (max-width: 979px) {
  .md_chapter__ttl span {
    font-size: 30px;
  }
}

@media screen and (max-width: 660px) {
  .md_chapter__ttl span {
    font-size: 4.5vw;
    letter-spacing: .2em;
    text-indent: .2em;
  }
}

.md_chapter__summary {
  letter-spacing: .1em;
  text-align: justify;
}

@media screen and (max-width: 979px) {
  .md_chapter__summary {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media screen and (max-width: 480px) {
  .md_chapter__summary {
    font-size: 12px;
    padding-right: 8%;
    padding-left: 8%;
  }
}

.md_chapter__summary small {
  display: block;
}

.md_chapter__summary p {
  margin-bottom: 2em;
}

.md_chapter__summary p:last-child {
  margin-bottom: 0;
}

.md_chapter__intro {
  font-size: 40px;
  text-align: center;
  padding: 0 5%;
}

.md_chapter__list {
  max-width: 860px;
  margin: 0 auto;
  padding: 60px 0 0 0;
}

.md_chapter__list.top_nomargin {
  padding-top: 0;
}

@media screen and (max-width: 979px) {
  .md_chapter__list {
    padding-right: 5%;
    padding-left: 5%;
  }
}

.md_chapter__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 50px;
}

.md_chapter__list li:last-child {
  margin-bottom: 0;
}

.md_chapter__list .l_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42%;
          flex: 0 1 42%;
  background-size: cover;
  background-position: center center;
}

.md_chapter__list .l_img.process_img01 {
  background-image: url(../images/pg_process_05.jpg);
}

.md_chapter__list .l_img.process_img02 {
  background-image: url(../images/pg_process_06.jpg);
}

.md_chapter__list .l_img.process_img03 {
  background-image: url(../images/pg_process_07.jpg);
}

.md_chapter__list .l_img.process_img04 {
  background-image: url(../images/pg_process_08.jpg);
}

.md_chapter__list .l_img.process_img05 {
  background-image: url(../images/pg_process_09.jpg);
}

.md_chapter__list .l_img.process_img06 {
  background-image: url(../images/pg_process_10.jpg);
}

.md_chapter__list .l_img.process_img07 {
  background-image: url(../images/pg_process_11.jpg);
}

.md_chapter__list .l_img.process_img08 {
  background-image: url(../images/pg_process_12.jpg);
}

.md_chapter__list .l_txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 54%;
          flex: 0 1 54%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 240px;
}

.md_chapter__listTtl {
  position: relative;
  padding-left: 30px;
  margin-bottom: .5em;
}

.md_chapter__listTtl:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background: url(../images/md_index_come.svg) 0 0 no-repeat;
  width: 18px;
  height: 24px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.md_chapter__listSummary {
  text-align: justify;
  letter-spacing: .055em;
}

/*-----------------------------------------------
__page vision
-----------------------------------------------*/
.pg_visionIntro__ttlWrap {
  padding-bottom: 300px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .pg_visionIntro__ttlWrap {
    padding-bottom: 240px;
  }
}

@media screen and (max-width: 979px) {
  .pg_visionIntro__ttlWrap {
    padding-bottom: 30%;
  }
}

@media screen and (max-width: 660px) {
  .pg_visionIntro__ttlWrap {
    padding-bottom: 20%;
  }
}

@media screen and (max-width: 480px) {
  .pg_visionIntro__ttlWrap {
    padding-bottom: 30%;
  }
}

.pg_visionIntro__ttl {
  max-width: 860px;
  margin: 0 auto;
  text-align: right;
  padding-top: 100px;
  padding-bottom: 0;
  padding-right: 100px;
  position: relative;
}

@media screen and (max-width: 979px) {
  .pg_visionIntro__ttl {
    padding-top: 10%;
    text-align: center;
    padding-right: 0;
  }
}

.pg_visionIntro__ttl:before {
  content: '';
  position: absolute;
  top: -8%;
  left: 5%;
  width: 548px;
  height: 428px;
  background: url(../images/bg_vison_01.png) top center no-repeat;
  background-size: cover;
  z-index: 0;
}

@media screen and (max-width: 1200px) {
  .pg_visionIntro__ttl:before {
    width: 50%;
    background-size: 100% auto;
  }
}

.pg_visionIntro__ttl span {
  font-size: 50px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 979px) {
  .pg_visionIntro__ttl span {
    font-size: 40px;
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .pg_visionIntro__ttl span {
    font-size: 36px;
  }
}

@media screen and (max-width: 660px) {
  .pg_visionIntro__ttl span {
    font-size: 6vw;
    letter-spacing: .2em;
    text-indent: .2em;
  }
}

.pg_visionIntro__ttl span:after {
  content: '';
  position: absolute;
  top: -50px;
  right: -100px;
  background: url(../images/icn_quote.png) top center no-repeat;
  background-size: cover;
  width: 72px;
  height: 54px;
}

@media screen and (max-width: 1200px) {
  .pg_visionIntro__ttl span:after {
    -webkit-transform: translateX(-85%);
        -ms-transform: translateX(-85%);
            transform: translateX(-85%);
    width: 12%;
    right: -28%;
    background-size: 100% auto;
  }
}

@media screen and (max-width: 979px) {
  .pg_visionIntro__ttl span:after {
    top: -45%;
  }
}

.pg_visionIntro__sttl {
  position: absolute;
  bottom: 70px;
  left: 54%;
}

@media screen and (max-width: 1200px) {
  .pg_visionIntro__sttl {
    bottom: 90px;
    left: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .pg_visionIntro__sttl {
    bottom: 21%;
    left: 50%;
  }
}

@media screen and (max-width: 660px) {
  .pg_visionIntro__sttl {
    bottom: 7%;
    left: 50%;
  }
}

@media screen and (max-width: 480px) {
  .pg_visionIntro__sttl {
    bottom: 5%;
    left: auto;
    right: 5%;
  }
}

.pg_visionIntro__sttl span {
  display: block;
  text-align: left;
  font-size: 28px;
  letter-spacing: .2em;
}

@media screen and (max-width: 979px) {
  .pg_visionIntro__sttl span {
    font-size: 22px;
  }
}

@media screen and (max-width: 660px) {
  .pg_visionIntro__sttl span {
    font-size: 16px;
  }
}

.pg_visionSec {
  padding: 100px 0;
}

@media screen and (max-width: 767px) {
  .pg_visionSec {
    padding: 80px 0;
  }
}

@media screen and (max-width: 480px) {
  .pg_visionSec {
    padding: 60px 0;
  }
}

.pg_visionSec.slogan {
  padding-top: 40px;
}

.pg_visionSec.commit {
  padding-bottom: 15vw;
  background-image: url(../images/pg_vision_bg01.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: #e0eefb;
  background-size: cover;
}

@media screen and (max-width: 979px) {
  .pg_visionSec.commit {
    padding-bottom: 20%;
    background-size: 1000px;
  }
}

@media screen and (max-width: 660px) {
  .pg_visionSec.commit {
    padding-bottom: 24%;
    background-size: 600px;
  }
}

@media screen and (max-width: 1280px) {
  .pg_visionSec.otherstory {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media screen and (max-width: 1280px) {
  .pg_visionSec.otherstory {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 660px) {
  .pg_visionSec.otherstory {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.pg_visionSec.otherstory li {
  position: relative;
  padding: 20px 0 40px 0;
  margin-bottom: 20px;
  color: #6a523f;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .pg_visionSec.otherstory li {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 4%;
  }
}

@media screen and (max-width: 660px) {
  .pg_visionSec.otherstory li {
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 6%;
  }
}

.pg_visionSec.otherstory li:after {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg_suisai__seem01.jpg) bottom center repeat;
  background-size: cover;
  z-index: -1;
}

.pg_visionSec.otherstory li .l_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .pg_visionSec.otherstory li .l_flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.pg_visionSec.otherstory .otherstory_ttl {
  margin-bottom: 40px;
}

@media screen and (max-width: 660px) {
  .pg_visionSec.otherstory .otherstory_ttl {
    margin-bottom: 30px;
  }
}

.pg_visionSec.otherstory .otherstory_ttl span {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 0 .75em;
}

.pg_visionSec.otherstory .otherstory_ttl span:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  background: #6a523f;
  border-bottom: 1px solid #6a523f;
  width: 100%;
  z-index: 1;
}

.pg_visionSec.otherstory .otherstory_ttl span:after {
  content: '';
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 20px;
  height: 14px;
  background: url(../images/bg_arrow__bottom.svg) 0 0 no-repeat;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.pg_visionSec.otherstory .otherstory_thumb {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media screen and (max-width: 979px) {
  .pg_visionSec.otherstory .otherstory_thumb {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media screen and (max-width: 767px) {
  .pg_visionSec.otherstory .otherstory_thumb {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.pg_visionSec.otherstory .otherstory_thumb img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 767px) {
  .pg_visionSec.otherstory .otherstory_thumb img {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .pg_visionSec.otherstory .otherstory_thumb img {
    width: 80%;
  }
}

.pg_visionSec.otherstory .otherstory_summary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: justify;
}

.pg_visionSec.otherstory .otherstory_summary.pr {
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  .pg_visionSec.otherstory .otherstory_summary.pr {
    padding-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .pg_visionSec.otherstory .otherstory_summary {
    font-size: 12px;
  }
}

.pg_visionSec.issue {
  background-image: url(../images/pg_vision_bg02.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-color: #f2f1ed;
}

@media screen and (max-width: 979px) {
  .pg_visionSec.issue {
    background-size: 1000px;
    background-position: bottom left;
  }
}

@media screen and (max-width: 660px) {
  .pg_visionSec.issue {
    background-size: 600px;
  }
}

.pg_vision__item {
  background: url(../images/bg_vison_03.jpg) 0 0 repeat;
  margin-top: 100px;
  padding: 60px 0;
}

@media screen and (max-width: 767px) {
  .pg_vision__item {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .pg_vision__item {
    padding-top: 30px;
  }
}

.pg_vision__itemInnr {
  max-width: 860px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 979px) {
  .pg_vision__itemInnr {
    padding: 0 5%;
  }
}

.pg_vision__itemInnr .l_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 979px) {
  .pg_vision__itemInnr .l_img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media screen and (max-width: 540px) {
  .pg_vision__itemInnr .l_img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.pg_vision__itemInnr .l_img:after {
  content: '';
  position: absolute;
  top: -120px;
  left: 2%;
  background: url(../images/icn_ourrec.png) 0 0 repeat;
  background-size: cover;
  width: 200px;
  height: 210px;
}

@media screen and (max-width: 979px) {
  .pg_vision__itemInnr .l_img:after {
    width: 160px;
    height: 170px;
    left: -8%;
  }
}

@media screen and (max-width: 767px) {
  .pg_vision__itemInnr .l_img:after {
    width: 120px;
    height: 125px;
    top: -80px;
    left: -3%;
  }
}

@media screen and (max-width: 540px) {
  .pg_vision__itemInnr .l_img:after {
    width: 80px;
    height: 85px;
    top: -50px;
    left: 10%;
  }
}

.pg_vision__itemInnr .l_img img {
  padding-left: 25%;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 979px) {
  .pg_vision__itemInnr .l_img img {
    padding-left: 10%;
  }
}

@media screen and (max-width: 540px) {
  .pg_vision__itemInnr .l_img img {
    padding: 0;
    width: 60%;
    margin: 0 auto;
  }
}

.pg_vision__itemInnr .l_txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

@media screen and (max-width: 979px) {
  .pg_vision__itemInnr .l_txt {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media screen and (max-width: 540px) {
  .pg_vision__itemInnr .l_txt {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.pg_vision__itemTxt {
  padding-top: 30px;
  padding-left: 5%;
}

@media screen and (max-width: 540px) {
  .pg_vision__itemTxt {
    padding-top: 0;
    padding-left: 0;
  }
}

.pg_vision__itemTxt .itemttl {
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 540px) {
  .pg_vision__itemTxt .itemttl {
    margin-bottom: 10px;
    font-size: 24px;
  }
}

.pg_vision__itemTxt .ttl {
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 540px) {
  .pg_vision__itemTxt .ttl {
    margin-bottom: 15px;
  }
}

.pg_vision__itemTxt .ttl span {
  background: #324B79;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  white-space: nowrap;
  line-height: 1;
  padding: .3em 1em;
  border-radius: 1em;
}

.pg_vision__itemTxt p {
  text-align: justify;
}

@media screen and (max-width: 540px) {
  .pg_vision__itemTxt p {
    padding-right: 3%;
    padding-left: 3%;
  }
}

.pg_vision__itemLink {
  max-width: 860px;
  margin: 0 auto;
  padding: 40px 0;
}

@media screen and (max-width: 979px) {
  .pg_vision__itemLink {
    width: 80%;
    height: auto;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .pg_vision__itemLink {
    width: 90%;
  }
}

.pg_vision__itemLink a {
  text-align: center;
  text-decoration: none;
  color: white;
  background: #324B79;
  border-radius: 10px;
  display: block;
  padding: 8px;
  line-height: 1;
}

@media screen and (max-width: 600px) {
  .pg_vision__itemLink a {
    padding: 6px;
  }
}

.pg_vision__itemLink a span {
  border: 1px solid rgba(255, 255, 255, 0.6);
  display: block;
  border-radius: 6px;
  padding: .6em 0;
  position: relative;
}

@media screen and (max-width: 600px) {
  .pg_vision__itemLink a span {
    font-size: 16px;
    padding: 1em 0;
  }
}

.pg_vision__itemLink a span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  background: url(../images/icn_arrow__3.svg) 0 0 repeat;
  background-size: cover;
  width: 42px;
  height: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .pg_vision__itemLink a span:after {
    width: 32px;
    height: 14px;
    right: 10px;
  }
}

/*-----------------------------------------------
__page process
-----------------------------------------------*/
.pg_processSec {
  padding: 100px 0;
}

@media screen and (max-width: 767px) {
  .pg_processSec {
    padding: 80px 0;
  }
}

@media screen and (max-width: 480px) {
  .pg_processSec {
    padding: 60px 0;
  }
}

.pg_processSec.nobg {
  padding: 60px 0;
}

@media screen and (max-width: 767px) {
  .pg_processSec.nobg {
    padding: 80px 0;
  }
}

@media screen and (max-width: 480px) {
  .pg_processSec.nobg {
    padding: 60px 0;
  }
}

.pg_processSec.into {
  padding: 10% 0;
  margin-top: 40px;
  margin-bottom: 60px;
  background-image: url(../images/pg_process_01.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 1280px) {
  .pg_processSec.otherstory {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media screen and (max-width: 1280px) {
  .pg_processSec.otherstory {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 660px) {
  .pg_processSec.otherstory {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.pg_processSec.otherstory li {
  position: relative;
  padding: 20px 0 40px 0;
  margin-bottom: 20px;
  color: #6a523f;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .pg_processSec.otherstory li {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 4%;
  }
}

@media screen and (max-width: 660px) {
  .pg_processSec.otherstory li {
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 6%;
  }
}

.pg_processSec.otherstory li:after {
  content: '';
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/bg_suisai__seem01.jpg) bottom center repeat;
  background-size: cover;
  z-index: -1;
}

.pg_processSec.otherstory li .l_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .pg_processSec.otherstory li .l_flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.pg_processSec.otherstory .otherstory_ttl {
  margin-bottom: 40px;
}

@media screen and (max-width: 660px) {
  .pg_processSec.otherstory .otherstory_ttl {
    margin-bottom: 30px;
  }
}

.pg_processSec.otherstory .otherstory_ttl span {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 0 .75em;
}

.pg_processSec.otherstory .otherstory_ttl span:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  background: #6a523f;
  border-bottom: 1px solid #6a523f;
  width: 100%;
  z-index: 1;
}

.pg_processSec.otherstory .otherstory_ttl span:after {
  content: '';
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 20px;
  height: 14px;
  background: url(../images/bg_arrow__bottom.svg) 0 0 no-repeat;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.pg_processSec.otherstory .otherstory_thumb {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media screen and (max-width: 979px) {
  .pg_processSec.otherstory .otherstory_thumb {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media screen and (max-width: 767px) {
  .pg_processSec.otherstory .otherstory_thumb {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.pg_processSec.otherstory .otherstory_thumb img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 767px) {
  .pg_processSec.otherstory .otherstory_thumb img {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .pg_processSec.otherstory .otherstory_thumb img {
    width: 80%;
  }
}

.pg_processSec.otherstory .otherstory_summary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: justify;
}

.pg_processSec.otherstory .otherstory_summary.pr {
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  .pg_processSec.otherstory .otherstory_summary.pr {
    padding-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .pg_processSec.otherstory .otherstory_summary {
    font-size: 12px;
  }
}

.pg_processSec.issue {
  background-image: url(../images/pg_vision_bg02.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-color: #f2f1ed;
}

@media screen and (max-width: 979px) {
  .pg_processSec.issue {
    background-size: 1000px;
    background-position: bottom left;
  }
}

@media screen and (max-width: 660px) {
  .pg_processSec.issue {
    background-size: 600px;
  }
}

.pg_process__link {
  margin-top: 40px;
}

.pg_process__link img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=maps/style.css.map */
