@charset "UTF-8";
body {
  line-height: 1.75;
  font-size: 16px;
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: normal;
  font-family: Avenir, Verdana, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Roboto, Meiryo, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: #16160e;
  text-align: justify;
}

a, a:link, a:active, a:visited {
  text-decoration: underline;
  outline: none;
}

a:hover, a:active {
  outline: 0;
}

a, a:visited, a:focus, a:active {
  color: #21759b;
}

a:hover {
  color: #21759b;
}

/*-----------------------------------------------
 __fontfamily
-----------------------------------------------*/
.serif {
  font-family: "リュウミン R-KL",'Ryumin Medium KL','Times New Roman', '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', '小塚明朝 ProN', 'メイリオ', Meiryo, serif;
}

/*--- google font ---*/
.gf_sawarabi {
  font-family: "Sawarabi Mincho", serif;
}

.gf_roundedmplus1c {
  font-family: "Rounded Mplus 1c", sans-serif;
}

.gf_noto {
  font-family: "Noto Sans Japanese", sans-serif;
}

.gf_nunito {
  font-family: "Nunito", sans-serif;
}

.gf_roboto {
  font-family: "Roboto", sans-serif;
}

.gf_robotoslab {
  font-family: 'Roboto Slab', serif;
}

/*-----------------------------------------------
 __fontweight
-----------------------------------------------*/
.fw700 {
  font-weight: 700;
}

.fw600 {
  font-weight: 600;
}

.fw500 {
  font-weight: 500;
}

.fw400 {
  font-weight: 400;
}

.fw300 {
  font-weight: 300;
}

/*-----------------------------------------------
 __letterspacing centering
-----------------------------------------------*/
.lt1 {
  letter-spacing: .1em;
  text-indent: .1em;
}

.lt2 {
  letter-spacing: .2em;
  text-indent: .2em;
}

.lt3 {
  letter-spacing: .3em;
  text-indent: .3em;
}

/*-----------------------------------------------
 __fontsize
-----------------------------------------------*/
.fz_36 {
  font-size: 36px;
}

@media screen and (max-width: 767px) {
  .fz_36 {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .fz_36 {
    font-size: 24px;
  }
}

.fz_30 {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .fz_30 {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .fz_30 {
    font-size: 20px;
  }
}

.fz_28 {
  font-size: 27px;
}

@media screen and (max-width: 767px) {
  .fz_28 {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  .fz_28 {
    font-size: 19px;
  }
}

.fz_24 {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .fz_24 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .fz_24 {
    font-size: 16px;
  }
}

.fz_20 {
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .fz_20 {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .fz_20 {
    font-size: 15px;
  }
}

.fz_18 {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .fz_18 {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .fz_18 {
    font-size: 14px;
  }
}

.fz_16 {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .fz_16 {
    font-size: 14px;
  }
}

.fz_15 {
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .fz_15 {
    font-size: 14px;
  }
}

.fz_14 {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .fz_14 {
    font-size: 13px;
  }
}

.fz_13 {
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .fz_13 {
    font-size: 12px;
  }
}

.fz_12 {
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .fz_12 {
    font-size: 10px;
  }
}

.fa {
  padding-right: .5em;
}

.dnon {
  display: none;
}

body.vh {
  height: 100vh;
  overflow: hidden;
}

.loadingWindow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #fff;
}

.loading-Bar {
  position: fixed;
  top: 30%;
  left: 0;
  background: #111111;
  background: -webkit-gradient(linear, left top, right top, from(#7CC171), to(#00ABBF));
  background: linear-gradient(to right, #7CC171 0%, #00ABBF 100%);
  height: 6px;
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
  width: 0;
  z-index: 999;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .loading-Bar {
    height: 3px;
  }
}

.loading-Bar.out {
  -webkit-animation: barout 1s ease 0s 1 normal forwards;
          animation: barout 1s ease 0s 1 normal forwards;
}

.loading-Bar_r {
  position: fixed;
  top: 40%;
  right: -10%;
  background: #111111;
  background: -webkit-gradient(linear, left top, right top, from(#7CC171), to(#00ABBF));
  background: linear-gradient(to right, #7CC171 0%, #00ABBF 100%);
  height: 6px;
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
  width: 0;
  z-index: 999;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .loading-Bar_r {
    height: 3px;
  }
}

.loading-Bar_r.out {
  -webkit-animation: barout 1s ease 0s 1 normal forwards;
          animation: barout 1s ease 0s 1 normal forwards;
}

@-webkit-keyframes barout {
  0% {
    opacity: .6;
  }
  100% {
    opacity: 0;
  }
}

@keyframes barout {
  0% {
    opacity: .6;
  }
  100% {
    opacity: 0;
  }
}

.loading-Img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 999;
}

.loading-Img img {
  margin: 0 auto;
  display: block;
  width: 70%;
  height: auto;
  max-width: 362px;
}

.loading-Img.framein {
  -webkit-animation: logoin 4s ease 1s 1 normal forwards;
          animation: logoin 4s ease 1s 1 normal forwards;
}

@-webkit-keyframes logoin {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes logoin {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.mainvisual__scroll {
  position: absolute;
  bottom: 5vh;
  right: 50px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  -webkit-transition: all 4s cubic-bezier(0.19, 1, 0.435, 0.99);
  transition: all 4s cubic-bezier(0.19, 1, 0.435, 0.99);
  opacity: 0;
  z-index: 99999;
}

@media screen and (max-width: 540px) {
  .mainvisual__scroll {
    right: 30px;
  }
}

.mainvisual__scroll.show {
  -webkit-animation: scroll_angle 2.5s cubic-bezier(0.19, 1, 0.435, 0.99) 2s 1 normal forwards;
          animation: scroll_angle 2.5s cubic-bezier(0.19, 1, 0.435, 0.99) 2s 1 normal forwards;
}

.mainvisual__scroll svg {
  width: 14px;
  height: 17px;
  fill: none;
}

.mainvisual__scroll-line {
  display: block;
  width: 1px;
  height: 64px;
  background-color: #00ABBF;
  background: -webkit-gradient(linear, left top, left bottom, from(#00ABBF), to(#7CC171));
  background: linear-gradient(to bottom, #00ABBF 0%, #7CC171 100%);
  position: absolute;
  top: 26px;
  left: 7px;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
  -webkit-animation: scroll_line 2.5s cubic-bezier(0.19, 1, 0.435, 0.99) 0s infinite normal none;
          animation: scroll_line 2.5s cubic-bezier(0.19, 1, 0.435, 0.99) 0s infinite normal none;
}

@-webkit-keyframes scroll_angle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll_angle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scroll_line {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: center top;
            transform-origin: center top;
  }
  30% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: center top;
            transform-origin: center top;
  }
  60% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
}

@keyframes scroll_line {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: center top;
            transform-origin: center top;
  }
  30% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: center top;
            transform-origin: center top;
  }
  60% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
  }
}

/*-----------------------------------------------
__layout
-----------------------------------------------*/
.l_row {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.l_row.slide {
  max-width: 1600px;
  padding-left: 8%;
}

.l_row.thumbnail {
  max-width: 1400px;
  padding-right: 5%;
  padding-left: 5%;
}

.l_row.pd_side {
  padding-right: 5%;
  padding-left: 5%;
}

/*-----------------------------------------------
__header
-----------------------------------------------*/
.md_hero {
  min-height: 100vh;
  position: relative;
}

.md_logo {
  position: absolute;
  top: -15vh;
  right: 0;
  display: block;
  width: 130px;
}

@media screen and (max-width: 767px) {
  .md_logo {
    width: 100px;
  }
}

@media screen and (max-width: 540px) {
  .md_logo {
    width: 75px;
  }
}

.md_logo img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.md_logo.show {
  -webkit-animation: mlogo 1s ease 5s 1 normal forwards;
          animation: mlogo 1s ease 5s 1 normal forwards;
}

.md_logo.show_nodelay {
  -webkit-animation: mlogo 1s ease 1 normal forwards;
          animation: mlogo 1s ease 1 normal forwards;
}

@-webkit-keyframes mlogo {
  0% {
    top: -15vh;
  }
  100% {
    top: 5vh;
  }
}

@keyframes mlogo {
  0% {
    top: -15vh;
  }
  100% {
    top: 5vh;
  }
}

.md_companylogo {
  position: absolute;
  bottom: -17vh;
  left: 0;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #B49A64;
  font-size: 20px;
  letter-spacing: .2em;
  width: 40px;
  line-height: 40px;
  padding-top: 70px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media screen and (max-width: 767px) {
  .md_companylogo {
    padding-top: 50px;
    font-size: 16px;
  }
}

.md_companylogo:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../assets/images/logo_horichu__circle.svg) 0 0 no-repeat;
  width: 40px;
  height: 40px;
}

.md_companylogo.show {
  -webkit-animation: cname 1s ease 5s 1 normal forwards;
          animation: cname 1s ease 5s 1 normal forwards;
}

.md_companylogo.show_nodelay {
  -webkit-animation: cname 1s ease 1 normal forwards;
          animation: cname 1s ease 1 normal forwards;
}

@-webkit-keyframes cname {
  0% {
    bottom: -15vh;
  }
  100% {
    bottom: 5vh;
  }
}

@keyframes cname {
  0% {
    bottom: -15vh;
  }
  100% {
    bottom: 5vh;
  }
}

.md_hero__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.md_hero__logo img {
  height: auto;
  width: 50%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .md_hero__logo img {
    width: 60%;
  }
}

@media screen and (max-width: 540px) {
  .md_hero__logo img {
    width: 70%;
  }
}

.tpc_intro {
  padding: 10vh 0 10vh 0;
}

.l_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 767px) {
  .l_flex {
    display: block;
  }
}

.l_flex__w30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.l_flex__w40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.l_flex__w60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.l_flex__w70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.tpc_intro__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 5%;
  padding-bottom: 5vh;
}

@media screen and (max-width: 767px) {
  .tpc_intro__contents {
    padding-right: 5%;
    padding-top: 5vh;
  }
}

.tpc_intro__img {
  background: url(../../assets/images/tpc_intro__img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 70vh;
}

@media screen and (max-width: 767px) {
  .tpc_intro__img {
    background: url(../../assets/images/tpc_intro__imgSp.jpg);
    min-height: 60vh;
    background-position: center bottom;
    background-size: cover;
  }
}

.tpc_intro__img img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.tpc_intro__ttl {
  position: absolute;
  right: 10%;
  top: 14vw;
  display: block;
  width: 42px;
}

@media screen and (max-width: 1280px) {
  .tpc_intro__ttl {
    right: 5%;
  }
}

@media screen and (max-width: 767px) {
  .tpc_intro__ttl {
    top: 3vh;
    top: auto;
    bottom: 0;
  }
}

@media screen and (max-width: 540px) {
  .tpc_intro__ttl {
    width: 30px;
    bottom: 5vh;
  }
}

.tpc_intro__ttl img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.tpc_intro__read {
  line-height: 2.5;
}

@media screen and (max-width: 900px) {
  .tpc_intro__read.intro {
    padding-right: 25%;
    line-height: 2;
  }
  .tpc_intro__read.intro p {
    margin-bottom: 1em;
    text-align: justify;
  }
  .tpc_intro__read.intro br {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .tpc_intro__read.intro {
    padding-right: 18%;
  }
}

@media screen and (max-width: 540px) {
  .tpc_intro__read.intro {
    padding-right: 22%;
    font-size: 13px;
    padding-left: 3%;
  }
}

@media screen and (max-width: 1360px) {
  .tpc_intro__read.kumanomai {
    line-height: 2;
    max-width: 80%;
    margin-left: auto;
  }
  .tpc_intro__read.kumanomai p {
    margin-bottom: 1em;
    text-align: justify;
  }
  .tpc_intro__read.kumanomai br {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .tpc_intro__read.kumanomai {
    max-width: inherit;
  }
}

@media screen and (max-width: 1360px) {
  .tpc_intro__read.oldtime {
    line-height: 2;
    max-width: 80%;
  }
  .tpc_intro__read.oldtime p {
    margin-bottom: 1em;
    text-align: justify;
  }
  .tpc_intro__read.oldtime br {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .tpc_intro__read.oldtime {
    max-width: inherit;
  }
}

@media screen and (max-width: 540px) {
  .tpc_intro__read {
    text-align: left;
    font-size: 13px;
    line-height: 2;
    padding-right: 8%;
    padding-left: 8%;
  }
  .tpc_intro__read p {
    margin-bottom: 1em;
    text-align: justify;
  }
  .tpc_intro__read br {
    display: none;
  }
}

.tpc_section.landscape {
  padding-top: 20vh;
  padding-bottom: 20vh;
  position: relative;
}

@media screen and (max-width: 767px) {
  .tpc_section.landscape {
    padding-top: 5vh;
  }
  .tpc_section.landscape .l_row {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.tpc_section.kumanomai {
  padding-bottom: 20vh;
}

@media screen and (max-width: 767px) {
  .tpc_section.kumanomai {
    padding-bottom: 10vh;
  }
}

.tpc_section.oldtime {
  padding-bottom: 20vh;
}

@media screen and (max-width: 767px) {
  .tpc_section.oldtime {
    padding-bottom: 10vh;
  }
}

.tpc_section.human {
  padding-bottom: 20vh;
}

@media screen and (max-width: 767px) {
  .tpc_section.human {
    padding-bottom: 10vh;
  }
  .tpc_section.human .l_row {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.tpc_kumanomai__img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: url(../../assets/images/tpc_intro__img02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 60vh;
}

@media screen and (max-width: 767px) {
  .tpc_kumanomai__img {
    min-height: 50vh;
    background-position: center bottom;
  }
}

.tpc_kumanomai__img img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.tpc_kumanomai__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 5%;
  padding-bottom: 5vh;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .tpc_kumanomai__contents {
    padding-top: 4vh;
  }
}

@media screen and (max-width: 540px) {
  .tpc_kumanomai__contents {
    padding-right: 0;
  }
}

.tpc_kumanomai__ttl {
  position: absolute;
  left: 5%;
  top: -10vh;
  display: block;
  width: 30%;
}

@media screen and (max-width: 979px) {
  .tpc_kumanomai__ttl {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  .tpc_kumanomai__ttl {
    width: 50%;
    top: -22vh;
  }
}

@media screen and (max-width: 540px) {
  .tpc_kumanomai__ttl {
    width: 60%;
    left: -5%;
    top: -15vh;
  }
}

.tpc_kumanomai__ttl img {
  opacity: .25;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.tpc_oldtime__img {
  background: url(../../assets/images/tpc_intro__img05.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 60vh;
}

@media screen and (max-width: 767px) {
  .tpc_oldtime__img {
    margin-bottom: 4vh;
  }
}

.tpc_oldtime__img img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.tpc_oldtime__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 5%;
  padding-bottom: 5vh;
}

@media screen and (max-width: 767px) {
  .tpc_oldtime__contents {
    padding-left: 0%;
  }
}

.md_exlink {
  padding-top: 2em;
}

@media screen and (max-width: 540px) {
  .md_exlink {
    text-align: center;
    font-size: 13px;
  }
}

.md_exlink a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-right: 50px;
  line-height: 1;
  text-decoration: none;
  color: #000;
  padding-left: 1em;
}

.md_exlink a:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 1px;
  width: 100%;
  border-bottom: 2px dotted #000;
  z-index: -1;
}

.md_exlink a:after {
  content: '';
  position: absolute;
  bottom: .25em;
  right: 10px;
  background: url(../../assets/images/arrow.svg) 0 0 no-repeat;
  background-position: left bottom;
  width: 30px;
  height: 6px;
}

.tpc_section__copy {
  width: 200px;
  position: absolute;
  top: 0;
  left: 5%;
}

@media screen and (max-width: 767px) {
  .tpc_section__copy {
    width: 180px;
    top: -10vh;
    left: 8%;
  }
}

@media screen and (max-width: 540px) {
  .tpc_section__copy {
    width: 120px;
  }
}

.tpc_section__copy img {
  max-width: 100%;
  height: auto;
  display: block;
}

.tpc_section__contents.offset_right {
  margin-right: 15%;
}

@media screen and (max-width: 767px) {
  .tpc_section__contents.offset_right {
    margin-right: 0;
    padding-right: 5%;
  }
}

@media screen and (max-width: 540px) {
  .tpc_section__contents.offset_right {
    padding-right: 0;
  }
}

.tpc_section__contents.text_align__right {
  text-align: right;
}

.tpc_section__ttl {
  padding-bottom: 1.25em;
}

@media screen and (max-width: 767px) {
  .tpc_section__ttl {
    font-size: 18px;
  }
}

@media screen and (max-width: 540px) {
  .tpc_section__ttl {
    text-align: center;
  }
  .tpc_section__ttl span {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
  }
  .tpc_section__ttl.landscape span {
    font-size: 4.2vw;
    margin-left: -.75em;
  }
  .tpc_section__ttl.kumanomai span {
    font-size: 3.9vw;
  }
}

.tpc_section__ttl em {
  font-size: 1.5em;
  color: #00ABBF;
  font-style: normal;
  display: block;
  letter-spacing: .2em;
}

.tpc_section__img.horizontal {
  margin-bottom: 5vh;
}

@media screen and (max-width: 767px) {
  .tpc_section__img.horizontal {
    margin-bottom: 4vh;
  }
}

.tpc_section__img.offset_right {
  margin-right: 15%;
}

@media screen and (max-width: 767px) {
  .tpc_section__img.offset_right {
    margin-right: 0;
  }
}

.tpc_section__img.offset_left {
  margin-left: 15%;
}

@media screen and (max-width: 767px) {
  .tpc_section__img.offset_left {
    margin-left: 0;
  }
}

.tpc_section__img.col2 {
  background: url(../../assets/images/tpc_intro__img03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  min-height: 30vh;
}

@media screen and (max-width: 767px) {
  .tpc_section__img.col2 {
    min-height: 50vh;
    background: url(../../assets/images/tpc_intro__img03Sp.jpg);
    background-size: cover;
    background-position: center bottom;
  }
}

.tpc_section__img.col3 {
  background: url(../../assets/images/tpc_intro__img04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 30vh;
}

@media screen and (max-width: 767px) {
  .tpc_section__img.col3 {
    background: url(../../assets/images/tpc_intro__img04Sp.jpg);
    background-size: cover;
    background-position: center bottom;
    min-height: 50vh;
  }
}

.tpc_buy {
  padding-top: 5vh;
  position: relative;
}

.tpc_buy:before {
  content: '';
  position: absolute;
  top: 0;
  left: 35%;
  width: 30%;
  height: 2px;
  background: #eee;
}

.tpc_buy .note {
  padding-top: 2em;
  padding-left: 10%;
}

@media screen and (max-width: 767px) {
  .tpc_buy .note {
    padding: 2em 5% 0 5%;
  }
}

@media screen and (max-width: 540px) {
  .tpc_buy .note {
    font-size: 11px;
  }
}

@media screen and (max-width: 540px) {
  .tpc_buy .l_row.pd_side {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.tpc_buy__logo {
  position: absolute;
  right: 10%;
  width: 8%;
}

@media screen and (max-width: 767px) {
  .tpc_buy__logo {
    width: 15%;
  }
}

.tpc_buy__logo img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.tpc_buy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style-type: none;
  overflow: hidden;
}

.tpc_buy__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3%;
          flex: 0 1 33.3%;
  text-align: center;
}

.tpc_buy__list li img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-bottom: 1em;
}

@media screen and (max-width: 767px) {
  .tpc_buy__list li img {
    width: 70%;
    padding-bottom: .5em;
  }
}

.tpc_buy__list li .tax {
  font-size: .8em;
}

.tpc_buy__list .buybtn {
  padding-top: 1em;
}

.tpc_buy__list .buybtn a {
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  line-height: 1;
  padding: 1em 3em;
  color: #fff;
  background: #999;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@media screen and (max-width: 660px) {
  .tpc_buy__list .buybtn a {
    padding: 1em 1em;
    font-size: 10px;
  }
}

.tpc_buy__list .buybtn a:hover {
  background: #666;
}

.tpc_get__Wrap {
  padding: 10vh 0;
}

.tpc_get__Wrap .buybtn {
  padding-top: 1em;
  text-align: center;
}

.tpc_get__Wrap .buybtn a {
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  line-height: 1;
  padding: 1em 3em;
  color: #fff;
  background: #999;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.tpc_get__Wrap .buybtn a:hover {
  background: #666;
}

.tpc_get__ttl {
  text-align: center;
  padding-bottom: 1em;
}

.fancybox-slide > * {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.fancybox-close-small {
  right: 5%;
  top: 5%;
  width: 60px;
  height: 60px;
  outline: none;
}

.fancybox-close-small:focus:after {
  outline: none;
}

.fancybox-close-small:after {
  content: "×";
  position: absolute;
  width: 50px;
  height: 50px;
  font: 30px/50px Arial,Helvetica Neue,Helvetica,sans-serif;
  background: #f6f6f6;
  color: #000;
}

/*-----------------------------------------------
__footer
-----------------------------------------------*/
.md_footer {
  text-align: center;
  padding-bottom: 5vh;
}

.md_footer__logo {
  width: 150px;
  margin: 0 auto;
  padding-bottom: 2em;
}

@media screen and (max-width: 767px) {
  .md_footer__logo {
    width: 100px;
  }
}

.md_footer__logo img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.md_footer__contents a {
  text-decoration: none;
  color: #000;
}

.md_footer__contents .ftttl {
  padding-top: .5em;
}

/*# sourceMappingURL=maps/style.css.map */
